<div class="footer-link px-g">
<div class="ch-container px-0">
  <div class="row pt-5 pb-4">
    <div class="col-md-6 mb-5">
      <div class="footer-logo overflow-hidden"><img  data-aos="fade-up" data-aos-duration="600" src="../../../assets/icons/logo-color-white.svg" alt=""></div>
      <div class="mt-4 footer-heading heading-font overflow-hidden" ><div  data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" >
        Follow us on:
      </div>
    </div>

      <div class="footer-icon d-flex mt-3">
        <div class="footer-social-icon overflow-hidden"><a href="https://www.instagram.com/coir_hub/" target="_blank"><img  data-aos="fade-up" data-aos-duration="600" data-aos-delay="100"  src="./../../../assets/icons/002-instagram.png" alt=""></a></div>
        <div class="footer-social-icon ml-3 overflow-hidden"><a href="https://www.facebook.com/people/Pollachi-Coirs/100070289959504/" target="_blank"><img data-aos="fade-up" data-aos-duration="600" data-aos-delay="150"  src="./../../../assets/icons/003-facebook.png" alt=""></a></div>
        <div class="footer-social-icon ml-3 overflow-hidden"><a href="https://www.linkedin.com/in/pradhin-k-6a186ab8/" target="_blank"><img data-aos="fade-up" data-aos-duration="600" data-aos-delay="200"  src="./../../../assets/icons/linkedin-logo.png" alt=""></a></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="footer-heading heading-font overflow-hidden"><div data-aos="fade-up" data-aos-duration="600" data-aos-delay="" >
        Group of companies/enterprises
      </div>
      </div>
      <div class="overflow-hidden">
        <hr class="ch-hr" data-aos="fade-right" data-aos-duration="600" data-aos-delay="0" >
      </div>

      <div class="row">

        <div class="col-md-6 footer-address overflow-hidden">
          <div data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" >
            Kali coir industries<br>
            74, Pollachi-udumalai road,<br>
            Unjavelampatti, Pollachi,<br>
            Tamil Nadu 642107</div>
          </div>
        <div class="col-md-6  footer-address overflow-hidden">
          <div  data-aos="fade-up" data-aos-duration="600" data-aos-delay="100" >

            Jai Sri coir products<br>
            112/c, Chettipalayam road,<br>
            Kanjampatti, Pollachi,<br>
            Tamil Nadu 642107</div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="footer-badge px-g">
  <div class="ch-container py-3 px-0">
    <div class="row">
      <div class="col-md-6 footer-cr overflow-hidden"><div  data-aos-offset="1" data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" >
        © {{year}} Coirhub. All rights reserved.
      </div>
      </div>
      <div class="col-md-6 footer-dev overflow-hidden">
        <div data-aos-offset="1" data-aos="fade-up" data-aos-duration="600" data-aos-delay="100" >
          Developed with <span class="love">♥</span> by <a href="https://www.praga.co.in" target="_blank">Praga.co.in</a>
        </div>
      </div>
    </div>
  </div>
</div>
