<app-dashboard-nav></app-dashboard-nav>

<div id="social-links">
  <div class="container pt-5">
    <div class="mb-3 section-heading sec-head-dash">Social Links</div>
    <mat-card class="p-4">
      <form class="add-product-form">
        <div class="row row-cols-2">

          <!-- <div class="col-md-12 d-flex align-items-center"> -->
          <div class="col">
            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Facebook</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Instagram</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col">

            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Linkdin</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Twitter</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Google Plus</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Pinterest</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="add-product-full-width" appearance="outline">
              <mat-label>Youtube</mat-label>
              <input matInput>
            </mat-form-field>
          </div>

        </div>
        <div>
          <button class="btn btn-success" type="button" (click)="saveLinks()">Save Links</button>
        </div>
      </form>

      <!-- </div> -->
    </mat-card>
  </div>
</div>
