#social-links{
  min-height: calc(100vh - 56px);
  background-color:#f8f8f8 ;
}
.sec-head-dash{
  color: var(--var-ch-grey);
  font-size: 1.8rem !important;
}

.add-product-form{
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
}
mat-form-field{
  width: 100%;
}
mat-card{
  border-bottom: 4px solid var(--var-ch-green);
}
