<div class="px-g">
  <div class="ch-container whyus-cont px-0">
    <div class="section-heading overflow-hidden">
      <div  data-aos-duration="600" data-aos="fade-up">
        Why Us</div>
      </div>
    <div class="overflow-hidden" >

      <hr class="ch-hr"  data-aos-duration="600" data-aos="fade-right">
    </div>
<div class="overflow-hidden">

  <div  data-aos-duration="600" data-aos="fade-up" data-aos-delay="50" class="whyus-content mt-3">Regardless if you are wide requirement consumer or miniature home gardener we
    provide standard ecofriendly coir products for everyone and Our products are organic have strong root growth,
    which can retain physical properties longer and have a good control on aeration and all above it is renewable.
  </div>
    </div>
  </div>
</div>
<div class="px-g whyus-box-cont">
  <div class="ch-container px-0 ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 whyus-box-row justify-content-center">
      <div class="col whyus-box-col " data-aos-duration="600" data-aos="fade-up" data-aos-delay="100" >
        <div class="whyus-box"  >
          <img src="./../../../assets/icons/008-organic.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Organic Substrates</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>
      <div class="col whyus-box-col " data-aos-duration="600" data-aos="fade-up" data-aos-delay="150">
        <div class="whyus-box"  >
          <img src="./../../../assets/icons/003-biodegradable.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">ECO Friendly</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>

      <div class="col whyus-box-col" data-aos-duration="600" data-aos="fade-up" data-aos-delay="200" >
        <div class="whyus-box" >
          <img src="./../../../assets/icons/006-medal.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Zero Defect</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>
      <div class="col whyus-box-col"  data-aos-duration="600" data-aos="fade-up" data-aos-delay="250" >
        <div class="whyus-box">
          <img src="./../../../assets/icons/007-quality.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Driven By Quality</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>
      <div class="col whyus-box-col" data-aos-duration="600" data-aos="fade-up" data-aos-delay="300" >
        <div class="whyus-box" >
          <img src="./../../../assets/icons/002-worldwide.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Global Operations</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>
      <div class="col whyus-box-col" data-aos-duration="600" data-aos="fade-up" data-aos-delay="350" >
        <div class="whyus-box" >
          <img src="./../../../assets/icons/001-box.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Personalised Products</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>
      <div class="col whyus-box-col" data-aos-duration="600" data-aos="fade-up" data-aos-delay="400" >
        <div class="whyus-box" >
          <img src="./../../../assets/icons/004-person.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Effortless Customer Reachability</div>
          <div class="whyus-box-line"></div>
        </div>
      </div>



      <!-- <div class="col-md-3 whyus-box-col">
        <div class="whyus-box">
          <img src="./../../../assets/icons/008-organic.png" class="d-flex" alt="">
          <div class="whyus-title heading-font">Organic Substrates</div>
        </div>
      </div> -->
    </div>
  </div>
</div>
